@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  background-color: black;
  font-family: "Roboto", sans-serif !important;
}
input {
  color: #fff;
}
